/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* css reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/Background.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(189, 76%, 42%, 0.212);
    color: hsl(162, 91%, 14%);
    font-size: 1.2vw;
   }

  #heading {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
  }
  #main {
      padding: 0% 20% 0% 20%;
  }

  #title {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
  }

  #description {
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem;
  }

  #survey-form {
    background-color: #16ecec23;
    padding: 3rem 2.5rem;
    border-radius: 7px;
  }

  #submit {
    background: #0a0ae7;
    color: #16f5f5;
    padding: .7rem;
    font-size: 1.15rem;
    cursor: pointer;
  }

  #submit:hover {
    background: rgba(9, 168, 89, 0.329);
  }

.form {
  width: 100%;
  padding: .7rem;
  border-radius: 6px;
  font-size: 1.0rem;
  border: none;
}

  @media only screen and (max-width:480px){

  #main {
    padding: 0% 0% 0% 0%;
    }
  }